a#navicon { display: none; }

@media (max-width: 480px){

a#navicon {
  display: block;
}

nav ul{
  display: none;
}

a#navicon:hover+ul, nav ul:hover {
  display:block;
  float: none;
}

nav ul li{
  display: block;
}

section{
  background: none;
  padding: 0px 0px 0px 0px;
  height: auto;
}

section h2{
text-shadow: none;
color: black;
}

#layout{
  grid-template-areas:
  "header"
  "nav"
  "section"
  "main"
  "footer";
  }
}
